#home.container
  %h2 AgreeList's mission: increase the quality of decision making
  %p
    %ul
      %li Aims to gather and organize diverse opinions
      %li Shows what people think and why, on both sides of controversial topics
      %li Promotes active information gathering vs. passive absorption of social medias’ newsfeeds
  %p
    If you like the project and want to get involved, please send us an email:
    = link_to("hello@agreelist.org", "mailto:hello@agreelist.org")

  %b Suggested links to better understand AgreeList vision:
  %ul
    %li= link_to "Co-founder Hector about why AgreeList matters", "https://medium.com/@HectorPerez/agreelist-the-biggest-problem-in-the-world-b58ed6df1e87"
    %li= link_to "Barack Obama on the polarization of opinions", "http://www.tubechop.com/watch/7824023"
  .container
    = link_to "Privacy", privacy_path
    |
    = link_to "Terms", terms_path
