.jumbotron
  .text-center
    %h1 Advice for entrepreneurs
    %h5= "Learn what the world thinks on things that matter to you" unless current_user
    %br

%section#info
  .container
    .col-md-4
      %h3 1. Give your advice
    .col-md-4
      %h3 2. Entrepreneurs get your insights
    .col-md-4
      %h3 3. Others tell you if they agree!

#statements
  .container
    .row
      - 3.times do |i|
        = render partial: "row", locals: { content: @contents[i], statement: @statements[i], individual: @individuals[i] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { content: @contents[i + 3], statement: @statements[i + 3], individual: @individuals[i + 3] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { content: @contents[i + 6], statement: @statements[i + 6], individual: @individuals[i + 6] }
:javascript
  var statements_to_vote = #{@statements_to_vote};
