.jumbotron
  %h1{align: "center"} Wanna know who agree on something?

%br

.content
  .row-fluid{align: "center"}
    .span12
      = form_tag("/search", :method => "post") do
        = text_field_tag(:search)
        = submit_tag("Search")
        or
        = link_to("Create a new statement", new_statement_path)

  .row-fluid
    - @statements[0..2].each do |statement|
      = render partial: "row", locals: { statement: statement }
  .row-fluid
    - @statements[3..5].each do |statement|
      = render partial: "row", locals: { statement: statement }
