.jumbotron
  .text-center
    %h1 Advice for entrepreneurs
    %h5 Learn what the world thinks on things that matter to you
    %div(style="width:512px; margin:auto;")
      <script src="http://assets-polarb-com.a.ssl.fastly.net/assets/polar-embedded.js" async="true" data-publisher="arpahector" data-poll-set="5326"></script>
    %br
    - if current_user
      = link_to "New question", "/statement", class: "btn btn-primary"
    - else
      = link_to image_tag("twitter-login.png"), "/auth/twitter"

%section#info
  .container
    .col-md-4
      %h3 1. Ask a yes/no question or write a statement
    .col-md-4
      %h3 2. Share it on Twitter
    .col-md-4
      %h3 3. Others tell you if they agree!

#statements
  .container
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i], individual: @individuals[i] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 3], individual: @individuals[i + 3] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 6], individual: @individuals[i + 6] }
