.jumbotron
  .text-center
    %h1 Do you agree?
    %h5 Learn what the world thinks on things that matter to you.

    %br
    - if current_user
      = link_to "New question", "/statement", class: "btn btn-primary"
    - else
      = link_to image_tag("twitter-login.png"), "/auth/twitter"

%section#info
  .container
    .col-md-4
      %h3 1. Ask a yes/no question
    .col-md-4
      %h3 2. Share it on Twitter
    .col-md-4
      %h3 3. Others tell you if they agree or disagree!

#statements
  .container
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i], individual: @individuals[i] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 3], individual: @individuals[i + 3] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 6], individual: @individuals[i + 6] }

.jumbotron
  .text-center
    %h1 Insightful commentary on global issues
    %h3
      When
      = link_to "Barack Obama", "/barackobama"
      says that climate change is a threat,
    %h3
      we also add him to the list of people who agree that
      = link_to "climate change is real.", "/s/climate-change-is-real-hpqmamhydk4m"
      %br
      %br
      =# image_tag "climate-change.jpg"
      = image_tag("people.gif")
