.jumbotron
  .text-center
    %h1 Liquid Democracy
    %h5
      Mix of direct and representative democracy for citizens and
      = link_to "new politicians", "#politicians"
    %br
    - if current_user
      = link_to "New statement", "/statement", class: "btn btn-primary"
    - else
      = link_to image_tag("twitter-login.png"), "/auth/twitter"

%section#info
  .container
    .col-md-4
      %h3 1. When you elect an online representative, you vote whatever s/he votes.
    .col-md-4
      %h3 2. But if you vote on concrete issues, your vote counts instead.
    .col-md-4
      %h3 3. Change your representative/s at any time.

#statements
  .container
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i], individual: @individuals[i] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 3], individual: @individuals[i + 3] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 6], individual: @individuals[i + 6] }
%section#politicians
  .text-center
    %h2 Good for new politicians:
  .container
    .col-md-6
      %h3 1. Commit to vote in Congress what citizens decide online.
      %h3 2. Citizens will elect you for Congress.
      %h3 3. Many of them will choose you as online delegate so you'll have influence.
    .col-md-6
      = image_tag "politician.png"



