.jumbotron
  .text-center
    %h1 Get 10 best practices for entrepreneurs every month by email
    %br
    - if current_user
      #quick_questions{class: @statements_to_vote.size == 0 ? "hide" : ""}
        %span{id: "statement"}= @statements_to_vote.try(:[], 0).try(:[], 1)
        %br
        %br
        = link_to "Agree", "#", class: "btn btn-primary", id: "quick_agree"
        = link_to "Disagree", "#", class: "btn btn-primary", id: "quick_disagree"
        %br
        %br
        - if @statements_to_vote.size > 1
          %span{id: "quick_skip"}
            = link_to "Skip", "#", id: "skip"
            |
        = link_to "New", "/statement"
      #voted_questions
      #new_statement{class: @statements_to_vote.size == 0 ? "" : "hide"}
        %br
        = link_to "New Advice", "/statement", class: "btn btn-primary"
    - else
      = link_to image_tag("twitter-login.png"), "/auth/twitter"

%section#info
  .container
    .col-md-4
      %h3 1. Agree/disagree by email and we'll add them to the site.
    .col-md-4
      %h3 2. Find well-known entrepreneurs who agree
    .col-md-4
      %h3 3. Get stats. How many people agree? Who they are? Why?

#statements
  .container
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i], individual: @individuals[i] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 3], individual: @individuals[i + 3] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 6], individual: @individuals[i + 6] }
%section
  .container
    %h2
      A friend tells you: I'm afraid that someone steals my idea.
    %h2
      Now you can tell her that
      = link_to "100% of people", "/s/tell-your-idea-rmxoeiqhjsla"
      on AgreeList think that the feedback, connections, sales opportunities outweigh the possibility that someone steals it.
:javascript
  var statements_to_vote = #{@statements_to_vote};
