.jumbotron
  .text-center
    %h1 Liquid Democracy
    %h5 mix of direct & representative democracy
    %br
    = button_to "Join", "/join", class: "btn btn-primary btn-lg", method: :get

%section#info
  .container
    .col-md-4
      %h3 1. When you elect an online representative, you vote whatever s/he votes.
    .col-md-4
      %h3 2. But if you vote on concrete issues, your vote counts instead
    .col-md-4
      %h3 3. Change your representative/s at any time

#statements
  .container
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i], individual: @individuals[i] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 3], individual: @individuals[i + 3] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 6], individual: @individuals[i + 6] }

#footer
  .text-center
    = link_to("feedback@agreelist.com", "mailto:feedback@agreelist.com")
