<div class="jumbotron">
  <h1>Wanna know who agree on something?</h1>
</div>

<br />
<div class="content">
  <div class="row" align="center">
    <div class="span9">
      <%= form_tag("/search", :method => "post") do %>
        <%= text_field_tag(:search) %>
        <%= submit_tag("Search") %> or 
        <%= link_to("Create a new statement", new_statement_path) %>
      <% end %>
    </div>
  </div>
  
  <% 2.times do |i| %>
    <div class="row">
      <% 3.times do |j| %>
        <div class="span3">
          <%= link_to(@statements[2*i + j].content, statement_path(@statements[2*i + j])) %>
        </div>
      <% end %> 
    </div>
    <br />
  <% end %>

</div>
