.jumbotron
  .text-center
    %h1 Advice for entrepreneurs
    %h5= "Learn what the world thinks on things that matter to you" unless current_user
    %br
    - if current_user
      #quick_questions{class: @statements_to_vote.size == 0 ? "hide" : ""}
        %span{id: "statement"}= @statements_to_vote.try(:[], 0).try(:[], 1)
        %br
        %br
        = link_to "Agree", "#", class: "btn btn-primary", id: "quick_agree"
        = link_to "Disagree", "#", class: "btn btn-primary", id: "quick_disagree"
        %br
        %br
        = link_to "Skip", "#", id: "skip"
        |
        = link_to "New", "/statement"
      #new_statement{class: @statements_to_vote.size == 0 ? "" : "hide"}
        = link_to "New Advice", "/statement", class: "btn btn-primary"
    - else
      = link_to image_tag("twitter-login.png"), "/auth/twitter"

%section#info
  .container
    .col-md-4
      %h3 1. Give your advice
    .col-md-4
      %h3 2. First time entrepreneurs get your insights
    .col-md-4
      %h3 3. Others tell you if they agree!

#statements
  .container
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i], individual: @individuals[i] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 3], individual: @individuals[i + 3] }
    .row
      - 3.times do |i|
        = render partial: "row", locals: { statement: @statements[i + 6], individual: @individuals[i + 6] }
:javascript
  var statements_to_vote = #{@statements_to_vote};
