.container
  %h5 Do you have a Twitter account?
  %p
    = radio_button_tag :login_with, "twitter"
    = "Yes, log in with Twitter"
    = link_to image_tag("twitter-login.png"), "/auth/twitter?back_url=#{params["back_url"]}", id: "twitter-login"
  %p
    = radio_button_tag :login_with, "email"
    = "No, log in with my email account:"
  = form_tag sessions_path do
    .field
      = label_tag :email
      = text_field_tag :email, "", class: "form-control"
    .field
      = label_tag :password
      = "-"
      = link_to "Forgot?", new_reset_password_path
      = password_field_tag :password, "", class: "form-control"
    %p
      .actions
        = hidden_field_tag :back_url, params[:back_url]
        = submit_tag "Log in", class: "btn btn-primary"
    %h3
      New to AgreeList?
      = link_to "Sign up!", signup_path(back_url: params[:back_url]), class: "btn btn-primary"
