.container
  .tag-page_title
    %h3= "Opinions from #{@occupation.pluralize}"
    %span.small= link_to "See all occupations", occupations_path
  = render partial: "common/opinions", locals: { agreements: @agreements }
  = render partial: "common/pies" if @occupations_count.size > 2 && @schools_count.size > 2
