#new_comment
  = form_for(@comment, :method => "post") do |f|
    = f.text_area(:text, class: "form-control", placeholder: "Leave a comment...")
    #quote_link
      = link_to "Quote", "#new_comment", id: "quote"
    #quote_fields{class: "hidden"}
      Author:
      = text_field_tag(:twitter, "", class: "form-control", placeholder: "@twitter_username")
      Please provide a source:
      = text_field_tag(:comment_source, "", class: "form-control", placeholder: "http://... where the comment comes from")

    = hidden_field_tag(:statement_id, @statement.id)
    = hidden_field_tag(:user_id, current_user.try(:id))
    %br
    - if signed_in?
      = f.submit("Send", class: "btn btn-primary")
    - else
      = link_to "Send", "", class: "btn btn-primary", onclick: "alert('Sign in required.')"

