= form_for(@individual) do |f|
  - if @individual.errors.any?
    #error_explanation
      %h2
        = pluralize(@individual.errors.count, "error")
        prohibited this individual from being saved:
      %ul
      - @individual.errors.full_messages.each do |msg|
        %li= msg

  .form-group
    .row
      .col-sm-2
        = f.label :name
      .col-sm-8
        = f.text_field :name, class: "form-control"
    .row
      .col-sm-2
        = f.label :twitter
      .col-sm-8
        = f.text_field :twitter, class: "form-control"
    .row
      .col-sm-2
        = f.label :twitter_description
      .col-sm-8
        = @individual.description
    .row
      .col-sm-2
        = f.label :bio
      .col-sm-8
        = f.text_field :bio, class: "form-control"
    .row
      .col-sm-2
        = f.label :email
      .col-sm-8
        = f.text_field :email, class: "form-control"
    .row
      .col-sm-2
        =f.label :ranking
      .col-sm-8
        = f.text_field :ranking, class: "form-control"
    .row
      .col-sm-2
        = f.label :picture
      .col-sm-8
        = f.file_field :picture
    = hidden_field_tag :back_url, params[:back_url]
    .text-center
      = f.submit "Continue", class: "btn btn-primary"

