.container
  %h5 Do you have a Twitter account?
  %p
    = radio_button_tag :login_with, "twitter"
    = "Yes, log in with Twitter"
    = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "twitter-login"
  %p
    = radio_button_tag :login_with, "email"
    = "No, log in with your email account:"
  = form_for @individual do |f|
    .field
      = f.label :email
      = f.text_field :email, class: "form-control"
    .field
      = f.label :password
      = f.password_field :password, class: "form-control"
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: "form-control"
    = f.hidden_field :is_user, value: true
    = hidden_field_tag :task, params[:task] || params[:individual].try(:[], :task)
    = hidden_field_tag :agreement_id, params[:agreement_id] || params[:individual].try(:[], :agreement_id)
    %p
      .actions
        = f.submit "Sign up", class: "btn btn-primary"
    %h3
      Already a user?
      = link_to "Log in", login_path, class: "btn btn-primary"

