.container
  %h3
    = link_to image_tag("twitter-login.png"), "/auth/twitter?back_to=#{params[:back_to]}"
    or Sign Up with your email:

  = form_for @individual do |f|
    - if @individual.errors.any?
      .error_messages
      %ul
        - for message in @individual.errors.full_messages
          %li= message
    .field
      = f.label :email
      = f.text_field :email, class: "form-control"
    .field
      = f.label :password
      = f.password_field :password, class: "form-control"
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: "form-control"
    = f.hidden_field :is_user, value: true
    %p
      .actions
        = f.hidden_field :back_url, params[:back_url]
        = f.submit "Sign up", class: "btn btn-primary"
    %h3
      Already a user?
      = link_to "Log in", login_path, class: "btn btn-primary"

