.container
  .media
    .media-left
      = image_tag @individual.picture.url(:square)
    .media-body
      %h1.media-heading
        = @individual.name
        %span.small
          - if current_user
            - if current_user.following?(@individual)
              = link_to "Following", follow_path(1, individual_id: @individual.id), method: :delete
            - else
              = link_to "Follow", follows_path(individual_id: @individual.id), method: :post

      = link_to("Edit Profile", edit_individual_path, class: "btn btn-primary") if admin? || current_user == @individual
      = "Karma: #{@individual.karma}" if @individual.email.present?

      %p
        = @individual.visible_bio
        - if @individual.wikipedia.present?
          路
          = link_to "wikipedia", @individual.wikipedia
        - if @individual.twitter.present?
          路
          = link_to "twitter", "https://twitter.com/#{@individual.twitter}"
      - if @school_list.any?
        Educated at:
        %p
          - @school_list.each_with_index do |school, index|
            = link_to school, school_path(school.gsub(" ", "_"))
            = "路" unless index == @school_list.size - 1
      - if @occupation_list.any?
        Occupations:
        %p
          - @occupation_list.each_with_index do |occupation, index|
            = link_to occupation.titleize, occupation_path(occupation.gsub(" ", "_"))
            = "路" unless index == @occupation_list.size - 1
  %br

  - @agreements.each do |agreement|
    - statement = agreement.statement
    .profile-agreement-container
      .profile-agreement
        = link_to(statement.content, statement_path(statement))
        %span.small
          - if agreement.agree?
            %span.green agreed
          - else
            %span.red disagreed
          by
          = @individual.name

        - if agreement.reason.present?
          .profile-reason
            = agreement.reason

  .jumbotron
    = form_tag("/s/create_and_agree", class: "form-horizontal") do |f|
      %br
      .form-group
        %h3.text-center
          Write a new topic or statement endorsed by
          = @individual.name

        .col-sm-1
        .col-sm-10
          = text_field_tag :content, "", placeholder: "Statement", class: "form-control"
          - if current_user != @individual
            %br
            Source or more info url:
            %br
            = text_field_tag :url, "", placeholder: "http:// where it's clear that #{@individual.name} agrees", class: "form-control"

          = hidden_field_tag :individual_id, @individual.id
      .text-center
        - if signed_in?
          = submit_tag "Add", class: "btn btn-primary"
        - else
          = link_to "Add", "", class: "btn btn-primary", onclick: "alert('Sign in required.')"
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
