.container
  %h1= @individual.name
  = image_tag @individual.picture.url(:square)
  = link_to("Edit", edit_individual_path) if admin?
  %br

  %strong Agrees:
  %br
  - if @agrees.empty?
    None
  - else
    - @agrees.each do |a|
      = link_to a.content, statement_path(a)
      = "(#{a.supporters.size} people agree vs #{a.detractors.size} people disagree)"
      %br
  %br

  %strong Disagrees:
  %br
  - if @disagrees.empty?
    None
  - else
    - @disagrees.each do |a|
      = link_to a.content, statement_path(a)
      = "(#{a.supporters.size} people agree vs #{a.detractors.size} people disagree)"
      %br
  .jumbotron
    %h3
      Write a new statement agreed by
      = @individual.name
    %br
    %br
    = form_tag("/statements/create_and_agree") do |f|
      Statement:
      %br
      = text_field_tag :content, "", size: 80
      %br
      %br
      Source or more info url:
      %br
      = text_field_tag :url, "http://", size: 80

      = hidden_field_tag :individual_id, @individual.id
      = hidden_field_tag :back_url, "/#{@individual.twitter}"
      - if signed_in?
        = submit_tag "Add", class: "btn btn-primary"
      - else
        = link_to "Add", "", class: "btn btn-primary", onclick: "alert('Sign in required.')"
