.container
  %h1
    = @individual.name
    = link_to "Delegate", "#", class: "btn btn-primary", onclick: "alert('Sorry, delegation is not implemented yet.')" if signed_in? && @individual != current_user
  = image_tag @individual.picture.url(:square)
  = link_to("Edit", edit_individual_path) if admin?
  %br

  %strong Agrees:
  %br
  - if @agrees.empty?
    %br
    None
  - else
    - @agrees.each do |a|
      = link_to a.content, statement_path(a)
      = "(#{a.supporters.size} people agree vs #{a.detractors.size} people disagree)"
      %br
  %br

  %strong Disagrees:
  %br
  - if @disagrees.empty?
    %br
    None
  - else
    - @disagrees.each do |a|
      = link_to a.content, statement_path(a)
      = "(#{a.supporters.size} people agree vs #{a.detractors.size} people disagree)"
      %br
  .jumbotron
    %h3
      Write a new statement agreed by
      = @individual.name
    %br
    %br
    = form_tag("/statements/create_and_agree") do |f|
      = text_field_tag :content, "", size: 80
      = hidden_field_tag :individual_id, @individual.id
      = hidden_field_tag :back_url, "/#{@individual.twitter}"
      = submit_tag "Add"

