.container
  %h1
    = @individual.name
    = link_to "Delegate", "/delegate", class: "btn btn-primary"
  = image_tag @individual.picture.url(:square)
  = link_to("Edit", edit_individual_path) if admin?
  %br

  %strong Agrees:
  %br
  - if @agrees.empty?
    %br
    None
  - else
    - @agrees.each do |a|
      = link_to a.content, statement_path(a)
      = "(#{a.supporters.size} people agree vs #{a.detractors.size} people disagree)"
      %br
  %br

  %strong Disagrees:
  - if @disagrees.empty?
    %br
    None
  - else
    - @disagrees.each do |a|
      = link_to a.content, statement_path(a)
      = "(#{a.supporters.size} people agree vs #{a.detractors.size} people disagree)"
      %br
