<h1><%= @individual.name %></h1>
<%= image_tag @individual.picture.url(:medium) %>
<%= link_to("Edit", edit_individual_path) %>
<br />
<% if @individual.tags.size > 0 %>
  Tags:
  <%= links_to_tags(@individual) %>
  <br />
<% end %>

<strong>Seems to agree:</strong>
<br />
<% if @agrees.empty? %>
  None
<% else %>
  <% @agrees.each do |a| %>
    <%= link_to a.content, statement_path(a) %>
    <br />
  <% end %>
<% end %>

<br />

<strong>Seems to disagree:</strong>
<br />

<% if @disagrees.empty? %>
  None
<% else %>
  <% @disagrees.each do |a| %>
    <%= link_to a.content, statement_path(a) %>
    <br />
  <% end %>
<% end %>

