.container
  .media
    .media-left
      = image_tag @individual.picture.url(:square)
    .media-body
      %h1.media-heading
        = @individual.name
        = link_to "Follow #{@individual.twitter}", "https://twitter.com/#{@individual.twitter}", class: "twitter-follow-button", "data-show-count" => "true", "data-size" => "large"
      %br
      = @individual.bio.present? ? @individual.bio : @individual.description
  = link_to("Edit", edit_individual_path) if admin?
  %br

  %strong Agrees:
  %br
  - if @agrees.empty?
    None
  - else
    - @agrees.each do |a|
      = link_to a.content, statement_path(a)
      = "(#{a.supporters.size} people agree vs #{a.detractors.size} people disagree)"
      %br
  %br

  %strong Disagrees:
  %br
  - if @disagrees.empty?
    None
  - else
    - @disagrees.each do |a|
      = link_to a.content, statement_path(a)
      = "(#{a.supporters.size} people agree vs #{a.detractors.size} people disagree)"
      %br
  .jumbotron
    = form_tag("/s/create_and_agree", class: "form-horizontal") do |f|
      %br
      .form-group
        %h3.text-center
          Write a new statement agreed by
          = @individual.name

        .col-sm-1
        .col-sm-10
          = text_field_tag :content, "", placeholder: "Statement", class: "form-control"
          - if current_user != @individual
            %br
            Source or more info url:
            %br
            = text_field_tag :url, "", placeholder: "http:// where it's clear that #{@individual.name} agrees", class: "form-control"

          = hidden_field_tag :individual_id, @individual.id
          = hidden_field_tag :back_url, "/#{@individual.twitter}"
      .text-center
        - if signed_in?
          = submit_tag "Add", class: "btn btn-primary"
        - else
          = link_to "Add", "", class: "btn btn-primary", onclick: "alert('Sign in required.')"
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
