%h3 Do you know someone else who agree/disagree? Add them now:
= form_tag("/add_supporter", :method => "post") do
  = text_field_tag(:new_supporter,"", class: "form-control", placeholder: "@twitter_username")
  %br
  = radio_button_tag :add, 'agreement'
  Agrees
  = radio_button_tag :add, 'disagreement'
  Disagrees
  %br
  %br
  = label_tag(:source, "Source or more info url:")
  %br
  = text_field_tag(:source, "", class: "form-control", placeholder: "http:// where it's clear that he/she agrees/disagrees")
  = hidden_field_tag(:statement_id, @statement.id)
  %br
  - if signed_in?
    = submit_tag("Add", class: "btn btn-primary")
  - else
    = link_to "Add", "", class: "btn btn-primary", onclick: "alert('Sign in required.')"

