= form_tag("/add_supporter", :method => "post") do
  = text_field_tag(:name,"", class: "form-control", placeholder: "Name or @twitter (yours or someone else's)")
  %br
  = radio_button_tag :add, 'someone_else', true
  I'm adding someone else
  = radio_button_tag :add, 'myself'
  I'm adding myself
  %br
  #source_box
    %br
    = text_field_tag(:source, "", class: "form-control", placeholder: "http:// where it's clear that he/she agrees/disagrees")
  = hidden_field_tag(:statement_id, @statement.id)
  %br
  = text_field_tag(:comment, "", class: "form-control", placeholder: "Reason why you or the person you are adding agrees/disagrees (optional)", maxlength: 254)
  %br
  = text_field_tag(:email, "", class: "form-control", placeholder: "Your email") unless current_user.try(:email)
  %br
  = submit_tag("Agree", class: "btn btn-primary")
  = submit_tag("Disagree", class: "btn btn-primary")
