%h3
  Add an opinion leader
  - if (@statement.agreements.size) < 50
    %span.small
      or
      = link_to "donate $100 and we'll find 50 influencers", contact_path(statement: @statement.hashed_id, subject: "Help me to find influencers", body: "Hi,\n\nI'd like to donate $100 so you can help me to find 50 influencers for the topic or statement: #{@statement.content}\n\nCheers")
- unless current_user
  = link_to "Log in", login_path(back_url: request.url)
  first if you want karma! - optional
= form_tag("/add_supporter", :method => "post") do
  .supporter_fields
    %p= text_field_tag(:name,"", class: "form-control", placeholder: "Name or @twitter. E.g. @barackobama")
    %p= text_field_tag(:wikipedia,"", class: "form-control", placeholder: "Wikipedia page of her/him")
    %p= hidden_field_tag :agg, 'someone_else'
    %p= text_field_tag(:comment, "", class: "form-control", placeholder: "Quote or reason why the person you are adding agrees/disagrees (optional)", maxlength: 254)
    #source_box
      %p= text_field_tag(:source, "", class: "form-control", placeholder: "URL/source where the opinion comes from (mandatory)")
    = hidden_field_tag(:statement_id, @statement.id)
    - if board? && has_admin_category_rights?
      %p
        Category:
        = select_tag :reason_category_id, options_from_collection_for_select(ReasonCategory.all, "id", "name"), include_blank: true
        = link_to "Edit categories", reason_categories_path
    %p= text_field_tag(:biography, "", class: "form-control", placeholder: "Short biography (taken from Twitter if used)", maxlength: 100)
    - if board? && has_profession_rights?
      %p
        Profession:
        = select_tag :profession_id, options_from_collection_for_select(Profession.all, "id", "name"), include_blank: true
        = link_to "Edit professions", professions_path
    %p= text_field_tag(:picture_from_url, "", class: "form-control", placeholder: "Photo url (taken from Twitter if used)", maxlength: 254)
    %p= text_field_tag(:email, "", class: "form-control", placeholder: "Your email") unless current_user.try(:email)
  %p
    = submit_tag("She/he agrees", class: "btn btn-primary")
    = submit_tag("She/he disagrees", class: "btn btn-primary")
