= form_tag("/add_supporter", :method => "post") do
  = text_field_tag(:name,"", class: "form-control", placeholder: "Name or @twitter (yours or someone else's)")
  %br
  = radio_button_tag :add, 'someone_else', true
  I am adding someone else's opinion
  = radio_button_tag :add, 'myself'
  I am adding my opinion
  %br
  #source_box
    %br
    = text_field_tag(:source, "", class: "form-control", placeholder: "http:// where it's clear that he/she agrees/disagrees")
  = hidden_field_tag(:statement_id, @statement.id)
  %br
  = text_field_tag(:comment, "", class: "form-control", placeholder: "Reason why you or the person you are adding agrees/disagrees (optional)", maxlength: 254)
  - if admin?
    Category:
    = select_tag :reason_category_id, options_from_collection_for_select(ReasonCategory.all, "id", "name"), include_blank: true
    = link_to "Edit categories", reason_categories_path
    %br
  %br
  = text_field_tag(:biography, "", class: "form-control", placeholder: "Short biography (taken from Twitter if used)", maxlength: 100)
  %br
  = text_field_tag(:picture_from_url, "", class: "form-control", placeholder: "Photo url (taken from Twitter if used)", maxlength: 254)
  %br
  = text_field_tag(:email, "", class: "form-control", placeholder: "Your email") unless current_user.try(:email)
  %br
  = submit_tag("Agree", class: "btn btn-primary")
  = submit_tag("Disagree", class: "btn btn-primary")
