%br
- if params[:c] && @statement == main_statement
  = link_to "Board", brexit_board_path
  >
  = params[:c]
  %br
- if params[:profession] && @statement == main_statement
  = link_to "Board", brexit_board_path
  >
  = params[:profession]
  %br
- if params[:educated_at]
  = link_to "All", statement_path(@statement)
  >
  = params[:educated_at]
  %br
- if [@agreements_in_favor.size, @agreements_against.size].max > 3
  Ordered by
  - if params[:order] == "date"
    Date
    |
    = link_to "Votes", statement_path(@statement, order: nil)
  - else
    Votes
    |
    = link_to "Date", statement_path(@statement, order: "date")
