.text-center
  %h1
    = @statement.content
    %span.small
      - if current_user
        - if current_user.following?(@statement)
          = link_to "Following", follow_path(1, statement_id: @statement.id), method: :delete
        - else
          = link_to "Follow", follows_path(statement_id: @statement.id), method: :post
  %span.small= link_to "See Board", brexit_board_path if board?
  %br
  - occupations_cache_count = @statement.occupations_cache.try(:size)
  - if occupations_cache_count && occupations_cache_count >= 3
    .div-inline.dropdown
      Opinions from
      = link_to(pluralize(@agreements_count, params["occupation"] || "influencer"), "", class: "dropdown-toggle underline", id: "occupationMenu", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "true")
      %ul.dropdown-menu{:"aria-labelledby" => "occupationMenu"}
        %li= link_to "all (#{@statement.agreements.count})", statement_path(@statement)
        - @statement.occupations_cache[0..10].each do |occupation|
          %li= link_to "#{occupation['name'].pluralize} (#{occupation['count']})", statement_path(@statement, occupation: occupation['name'])
  - else
    Opinions from
    = pluralize(@agreements_count, params["occupation"] || "influencer")
  = succeed ")" do
    = succeed link_to "add more?", "#gather", class: "underline" do
      = "("
  of which:
  %br
  %br
  - if @percentage_in_favor
    .percentages
      .percentage-bar.top-left-percentage1
        .percentage-bar.top-left-percentage2{style: "width: #{@percentage_in_favor}%"}
      .top-you
      .percentage-bar.top-right-percentage1
        .percentage-bar.top-right-percentage2.text-left{style: "width: #{100 - @percentage_in_favor}%"}
  .percentages
    .percentage-bar.statement-percentage.text-right
      Agree
      = "#{@percentage_in_favor}%" if @percentage_in_favor
    .you.percentage-bar.underline
      .dropdown
        = link_to "You?", "", class: "dropdown-toggle", id: "dropdownMenu1k", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "true"
        %ul.dropdown-menu{:"aria-labelledby" => "dropdownMenu1k"}
          - if current_user
            %li= link_to "I agree", vote_path(statement_id: @statement.id, vote: "agree"), method: :post, class: "text-center underline"
            - already_voted = false
          - else
            %li= link_to "I agree", "#", "data-toggle" => "modal", "data-target" => "#agreeModal", vote: "agree", statement_id: @statement.id, class: "text-center underline"
          - if current_user
            %li= link_to "I disagree", vote_path(statement_id: @statement.id, vote: "disagree"), method: :post, class: "text-center underline"
            - already_voted = false
          - else
            %li= link_to "I disagree", "#", "data-toggle" => "modal", "data-target" => "#disagreeModal", vote: "disagree", statement_id: @statement.id, class: "text-center underline"
    .percentage-bar.statement-percentage.text-left
      = "#{100 - @percentage_in_favor}%" if @percentage_in_favor
      Disagree
