.text-center
  %span.alert.alert-warning
    Biased? Please help us
    = link_to "adding more opinions", new_agreement_path(s: @statement.to_param), class: "underline"
  - if @statement.content.size < 100
    %h1
      = render partial: "content"
  - else
    %h4
      = render partial: "content"
  %span.small= link_to "See Board", brexit_board_path if board?
  %br
  - occupations_cache_count = @dropdown_occupations.try(:size)
  - if occupations_cache_count && occupations_cache_count >= 3
    .div-inline.dropdown
      Opinions from
      = link_to(pluralize(@agreements_count, params["occupation"] || "influencer"), "", class: "dropdown-toggle underline", id: "occupationMenu", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "true")
      %ul.dropdown-menu{:"aria-labelledby" => "occupationMenu"}
        %li= link_to "all (#{@statement.agreements.count})", statement_path(@statement)
        - @dropdown_occupations.each do |occupation|
          - name = occupation[0]
          - count = occupation[1]
          %li= link_to "#{name.pluralize} (#{count})", statement_path(@statement, occupation: name)
  - else
    Opinions from
    = pluralize(@agreements_count, params["occupation"] || "influencer")
  = succeed ")" do
    = succeed link_to "add more?", new_agreement_path(s: @statement.to_param), class: "underline" do
      = "("
  of which:
  %br
  %br
  - if @percentage_in_favor
    .percentages
      .percentage-bar.top-left-percentage1
        .percentage-bar.top-left-percentage2{style: "width: #{@percentage_in_favor}%"}
      .top-you
      .percentage-bar.top-right-percentage1
        .percentage-bar.top-right-percentage2.text-left{style: "width: #{100 - @percentage_in_favor}%"}
  .percentages
    .percentage-bar.statement-percentage.text-right
      Agree
      = "#{@percentage_in_favor}%" if @percentage_in_favor
    .you.percentage-bar.underline
      .dropdown
        = link_to "You?", "", class: "dropdown-toggle", id: "dropdownMenu1k", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "true"
        %ul.dropdown-menu{:"aria-labelledby" => "dropdownMenu1k"}
          - if current_user
            %li= link_to "I agree", vote_path(statement_id: @statement.id, vote: "agree"), method: :post, class: "text-center underline"
            - already_voted = false
          - else
            %li= link_to "I agree", "#", "data-toggle" => "modal", "data-target" => "#agreeModal", vote: "agree", statement_id: @statement.id, class: "text-center underline"
          - if current_user
            %li= link_to "I disagree", vote_path(statement_id: @statement.id, vote: "disagree"), method: :post, class: "text-center underline"
            - already_voted = false
          - else
            %li= link_to "I disagree", "#", "data-toggle" => "modal", "data-target" => "#disagreeModal", vote: "disagree", statement_id: @statement.id, class: "text-center underline"
    .percentage-bar.statement-percentage.text-left
      = "#{100 - @percentage_in_favor}%" if @percentage_in_favor
      Disagree
