- agreements.each do |agreement|
  - individual = agreement.individual
  .media.opinion.dynamic_width{class: "#{side == :right ? 'float_right' : ''}"}
    .media-left
      = image_tag(individual.picture.url(:thumb), class: "picture media-object")
    .media-body
      %h4.media-heading
        %span.name
          = link_to(individual.visible_name, "/#{individual.to_param}")
        %span.bio
          = individual.visible_bio
          - if admin?
            = link_to "edit", edit_individual_path(individual)
      %i= agreement.reason
      - if individual == current_user || admin?
        %span.small
          - if agreement.reason.present?
            = link_to "edit", edit_reason_path(agreement)
          - else
            = link_to "Add a reason", edit_reason_path(agreement)
      - if admin? && individual.twitter.present?
        %span.small
          = "·"
          = link_to "tweet", "https://twitter.com/intent/tweet?url=&text=@#{individual.try(:twitter)} I added you to the list of who does and who does not support '#{@statement.shortened_content(35)}' #{@shortened_url_without_params}", id: "tweet-supporter-added-2", "data-dismiss" => "modal"
      %br
      .opinion-links
        - if agreement.url.present? && agreement.url != "http://"
          = link_to "source", agreement.url
          ·
        - n = agreement.upvotes.count == 0 || !@admin ? "" : " (#{agreement.upvotes.count})"
        - if current_user
          - upvote_link = current_user.upvoted?(agreement) ? "upvoted!#{n}" : "upvote#{n}"
          = link_to upvote_link, upvote_agreement_path(agreement), method: :post
        - else
          = link_to "upvote#{n}", "#", "data-toggle" => "modal", "data-target" => "#upvoteModal", agreement_id: agreement.id, class: "upvote"
        ·
        - if agreement.agreement_comments.size > 0
          = link_to pluralize(agreement.agreement_comments.size, "comment"), agreement_path(agreement)
        - else
          = link_to "comment", agreement_path(agreement)
        - if agreement.individual.wikipedia.present?
          ·
          = link_to "wikipedia", agreement.individual.wikipedia
        - if admin?
          ·
          = link_to("delete", agreement, method: :delete, data: { confirm: "You sure?" })
        = render partial: "reason_category_select", locals: { agreement: agreement } if board?
