- agreements.each do |agreement|
  - individual = agreement.individual
  .media
    .media-left
      = image_tag(individual.picture.url(:thumb), class: "picture media-object")
    .media-body
      %h4.media-heading
        %span.name= link_to(individual.name.present? ? individual.name : individual.to_param, "/#{individual.to_param}")
      #br
      = (individual.bio.present? ? individual.bio : individual.description).try(:[], 0..93)
      - if admin?
        = link_to "edit", edit_individual_path(individual) + "?back_url=#{request.url}"
        |
        = link_to("delete", agreement, method: :delete, data: { confirm: "You sure?" })
        |
        = link_to("thouch", touch_path(agreement, back_url: statement_path(agreement.statement)), method: :post)
      = render partial: "profession_select", locals: { individual: individual, agreement: agreement }
      .reason
      %i= agreement.reason
      - if individual == current_user
        - if agreement.reason.present?
          = link_to "- edit", edit_reason_path(agreement, back_url: url_for(params))
        - else
          = link_to "Why do you #{agreement.agree? ? "agree" : "disagree"}? Add a reason", edit_reason_path(agreement, back_url: url_for(params))

      %span.source
        - if agreement.url.present? && agreement.url != "http://"
          = link_to "source", agreement.url
      %br
      - n = agreement.upvotes.count == 0 || !@admin ? "" : " (#{agreement.upvotes.count})"
      - if current_user
        - upvote_link = current_user.upvoted?(agreement) ? "Upvoted!#{n}" : "Upvote#{n}"
        = link_to upvote_link, upvote_agreement_path(agreement), method: :post
      - else
        = link_to "Upvote#{n}", "#", "data-toggle" => "modal", "data-target" => "#upvoteModal", agreement_id: agreement.id, class: "upvote", back_url: statement_path(agreement.statement)
      ·
      - if agreement.agreement_comments.size > 0
        = link_to pluralize(agreement.agreement_comments.size, "comment"), agreement_path(agreement)
      - else
        = link_to "New comment", agreement_path(agreement)
      - if agreement.individual.wikipedia
        ·
        = link_to "Wikipedia", agreement.individual.wikipedia
      = render partial: "reason_category_select", locals: { agreement: agreement }