.container
  %h1= @statement.content
  %table.table
    %tr
      %th University or school
      %th Percentage who agrees
      %th Number of people on AgreeList
    - @schools_count.each do |occupation|
      %tr
        %td= occupation[:name]
        %td= "#{occupation[:percentage_who_agrees]}%"
        %td= occupation[:count]
