.container
  %h1= @statement.content
  %table.table
    %tr
      %th University or school
      %th Percentage who agrees
      %th Number of people on AgreeList
    - @schools_count.each do |educated_at|
      %tr
        - url = statement_path(@statement, educated_at: educated_at[:name])
        %td= link_to educated_at[:name].titleize, url
        %td= link_to "#{educated_at[:percentage_who_agrees]}%", url
        %td= link_to educated_at[:count], url
