.container
  %h1= link_to @statement.content, statement_path(@statement)
  %table.table
    %tr
      %th University or school
      %th Percentage who agrees
      %th Number of people
    - @schools_count.each do |educated_at|
      %tr
        - url = statement_path(@statement, educated_at: educated_at[:name])
        %td= link_to educated_at[:name].titleize.gsub("Of", "of"), url
        %td= link_to "#{educated_at[:percentage_who_agrees]}%", url
        %td= link_to educated_at[:count], url
  = "* This list only includes the occupations with at least #{@min_count} people"
  |
  = link_to "See all #{@agreements_count} opinions or votes", statement_path(@statement)