.container
  %h1
    Listing topics or statements
    = link_to 'New', new_statement_path(back_url: request.path), class: "btn btn-primary"

  %ol
    - @statements.each do |statement|
      %li
        = link_to statement.content, statement
        = "(entrepreneurship)" if statement.tag_list.include?("entrepreneurship")
        ·
        = pluralize(statement.agreements_count, "opinion")
        = link_to 'Edit', edit_statement_path(statement) if admin?
        = link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } if can_delete_statements?


