.container
  %h1
    Topics and statements
    = link_to 'New', new_statement_path(back_url: request.path), class: "btn btn-primary"

  %ul
    - @statements.each do |statement|
      %li
        = link_to statement.content, statement
        = "(#{pluralize(statement.agreements_count, 'opinion')})"
        - if current_user
          ·
          - if current_user.following?(statement)
            = link_to "Following", follow_path(1, statement_id: statement.id), method: :delete
          - else
            = link_to "Follow", follows_path(statement_id: statement.id), method: :post
