.container
  = form_for @statement do |f|
    .row
      .col-md-2
      .col-md-6
        .form-group
          %h3 New topic or statement:
          = f.text_area :content, placeholder: "E.g. Global warming is real.", class: "form-control", maxlength: Statement::MAXIMUM_LENGTH
          = "- Do you agree?"
        .form-group
          = f.submit "Create", class: "btn btn-primary"
          or
          = link_to "Back", params["back_url"] || root_path