- if @statement.errors.any?
  #error_explanation.alert.alert-danger
    %h2
      = pluralize(@statement.errors.count, "error")
      prohibited this statement from being saved:
      %ul
        - @statement.errors.full_messages.each do |msg|
          %li= msg

.jumbotron.text-center
  %h3 Create a new question:
  = form_tag("/s/create_and_agree", class: "form-horizontal") do |f|
    .form-group
      .col-sm-2
      .col-sm-8
        = text_field_tag :content, "", class: "form-control", placeholder: "Yes/no question"
    = submit_tag "Create", class: "btn btn-primary"
    or
    = link_to "back", root_path
