- if @statement.errors.any?
  #error_explanation.alert.alert-danger
    %h2
      = pluralize(@statement.errors.count, "error")
      prohibited this statement from being saved:
      %ul
        - @statement.errors.full_messages.each do |msg|
          %li= msg

.jumbotron.text-center
  %h3 Give your advice for entrepreneurs
  %br
  %br
  = form_tag("/s/create_and_agree") do |f|
    = text_field_tag :content, "", size: 80
    = submit_tag "Next", class: "btn btn-primary"
    or
    = link_to "skip", root_path
