- if @statement.errors.any?
  #error_explanation.alert.alert-danger
    %h2
      = pluralize(@statement.errors.count, "error")
      prohibited this statement from being saved:
      %ul
        - @statement.errors.full_messages.each do |msg|
          %li= msg

.jumbotron.text-center
  %h3 Write a yes/no question or a controversial statement you'd like to convince others about:
  %br
  %br
  = form_tag("/statements/create_and_agree") do |f|
    = text_field_tag :content, "", size: 80
    = hidden_field_tag :individual_id, current_user.id
    = hidden_field_tag :back_url, "created_statement"
    = submit_tag "Next", class: "btn btn-primary"
    or
    = link_to "skip", root_path
