.container
  %h1= link_to @statement.content, statement_path(@statement)
  %table.table
    %tr
      %th Occupation
      %th Percentage who agrees
      %th Number of people
    - @occupations_count.each do |occupation|
      %tr
        - url = statement_path(@statement, occupation: occupation[:name])
        %td= link_to occupation[:name].titleize, url
        %td= link_to "#{occupation[:percentage_who_agrees]}%", url
        %td= link_to occupation[:count], url
  = "* This list only includes the occupations with at least #{@min_count} people"
  |
  = link_to "See all #{@agreements_count} opinions or votes", statement_path(@statement)