.container
  %h1= @statement.content
  %table.table
    %tr
      %th Occupation
      %th Percentage who agrees
      %th Number of people
    - @occupations_count.each do |occupation|
      %tr
        - url = statement_path(@statement, occupation: occupation[:name])
        %td= link_to occupation[:name].titleize, url
        %td= link_to "#{occupation[:percentage_who_agrees]}%", url
        %td= link_to occupation[:count], url
