.container
  %h1= @statement.content
  - if @agreements_in_favor.any? || @agreements_against.any?
    #wrapper
      #leftcol
        = "People who agree (#{@agreements_in_favor.size})"
        = render partial: "whoagree", locals: { agreements: @agreements_in_favor }
      #rightcol
        = "People who disagree (#{@agreements_against.size})"
        = render partial: "whoagree", locals: { agreements: @agreements_against }
- if signed_in?
  .container
    .text-center
      #add
        = render partial: "add_supporter"
