.container
  %h1
    = @statement.content
    = link_to(image_tag("agree.png", class: "vote-icon"), "#", onclick: 'alert("This feature is not ready yet!")')
    = link_to(image_tag("disagree.png", class: "vote-icon"), "#", onclick: 'alert("This feature is not ready yet!")')
          
  .text-center
    Share on Twitter
    %br
    = link_to "Share on Twitter", "https://twitter.com/share", "class" => "twitter-share-button", "data-url" => "#{root_url}s/#{@statement.hashed_id}", "data-text" => "#{@statement.content} See who agrees on #AgreeList", "data-size" => "large", "data-count" => "none", id: "twitter-share"
    - if [@agreements_in_favor.size, @agreements_against.size].max > 1
      %br
      or
      %br
      = link_to "Add someone else", "#gather", class: "btn btn-primary"
  %br
  .row
    .col-md-6
      .add_me
        %h4= "Who agree (#{@agreements_in_favor.size}):"
      = render partial: "whoagree", locals: { agreements: @agreements_in_favor }
    .col-md-6
      .add_me
        %h4= "Who disagree (#{@agreements_against.size}):"
      = render partial: "whoagree", locals: { agreements: @agreements_against }
.container
  #comments
    - if @comments.size > 0 && @statement.id != 7 # brexit
      %h3 Comments:
      = render template: "comments/index"
      -#= render template: "comments/new"
  - unless Rails.env == "test" || @related_statements.size < 6 || @related_statements.first.tag_list == ["Others"]
    %h3 Other questions
    .row
      .col-md-6
        - @related_statements[0..2].each do |related|
          = link_to related.content, related
          %br
      .col-md-6
        - @related_statements[3..5].each do |related|
          = link_to related.content, related
          %br
  #gather.jumbotron.textcenter
    %h3 Gather who agree
    = render partial: "add_supporter"
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
