<p id="notice"><%= notice %></p>

<h1><%= @statement.content %></h1>

<% if @agreements_in_favor.any? || @agreements_against.any? %>
  <% @agreements = @agreements_in_favor %>
  <h3><%= @agreements_in_favor.size %> seem to agree:</h3>
  <%= render "statements/whoagree" %>

  <% @agreements = @agreements_against %>
  <h3><%= @agreements_against.size %> seem to disagree:</h3>
  <%= render "statements/whoagree" %>
<% end %>
Add someone else:
<%= render "statements/add_supporter" %>





<br />
<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>

