.container
  .text-center
    %h1
      = @statement.content
      = "- Do you agree?"
      = link_to "", "https://twitter.com/share", "class" => "twitter-share-button", "data-url" => "#{root_url}s/#{@statement.hashed_id}", "data-text" => "List of who does and who does not agree '#{@statement.content}' #{@shortened_url_without_params}", "data-size" => "large", "data-count" => "none", id: "twitter-share"
    - if main_statement == @statement
      %p= render partial: "professions"
    = link_to "Add an opinion leader", "#gather", class: "btn btn-primary"
    - if (@agreements_in_favor.size + @agreements_against.size) < 50
      or
      = link_to "Pay $100 and we'll find 50 influencers", contact_path(statement: @statement.hashed_id, subject: "Help me to find influencers", body: "Hi,\n\nI'd like to pay $100 so you can help me to find 50 influencers for the topic or statement: #{@statement.content}\n\nCheers", back_url: statement_path(@statement)), class: "btn btn-primary"
    %p
      = render partial: "agreements/voting_buttons", locals: { back_url: statement_path(@statement, order: params[:order]) }
      - if @statement == main_statement
        |
        = link_to "Board", brexit_board_path
  %br
  - if params[:c]
    = link_to "All", statement_path(@statement)
    >
    = params[:c]
  %br
  - if params[:occupation]
    = "Active filter: #{params[:occupation].pluralize}"
    ·
    = link_to "Remove and see all opinions", statement_path(@statement)
    %br
  - if params[:educated_at]
    = "Active filter: #{params[:educated_at].pluralize}"
    ·
    = link_to "Remove and see all opinions", statement_path(@statement)
    %br
  - if [@agreements_in_favor.size, @agreements_against.size].max > 3
    Ordered by
    - if params[:order] == "date"
      Date
      |
      = link_to "Votes", statement_path(@statement, order: nil)
    - else
      Votes
      |
      = link_to "Date", statement_path(@statement, order: "date")
  .row
    .col-sm-6
      .add_me
        %h4= @agreements_count > 0 ? "Who agrees (#{@percentage_in_favor}% of #{pluralize(@agreements_count, 'opinion')}):" : "Nobody agrees yet"
      = render partial: "whoagree", locals: { agreements: @agreements_in_favor }
    .col-sm-6
      .add_me
        %h4= @agreements_count > 0 ? "Who disagrees (#{100 - @percentage_in_favor}% of #{pluralize(@agreements_count, 'opinion')}):" : "Nobody disagrees yet"
      = render partial: "whoagree", locals: { agreements: @agreements_against }
.text-center
  = paginate (@agreements_in_favor.size > @agreements_against.size ? @agreements_in_favor : @agreements_against)
.container
  #comments
    - if @comments.size > 0 && @statement.id != 7 # brexit
      %h3 Comments:
      = render template: "comments/index"
      -#= render template: "comments/new"
  - unless Rails.env == "test" || @related_statements.size < 6 || @related_statements.first.tag_list == ["Others"]
    %h3 Other questions
    .row
      .col-sm-6
        - @related_statements[0..2].each do |related|
          = link_to related.content, related
          %br
      .col-sm-6
        - @related_statements[3..5].each do |related|
          = link_to related.content, related
          %br
  #gather.jumbotron.textcenter
    = render partial: "add_supporter"
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Log in to give your opinion
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "vote-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path(back_url: request.original_url), class: "btn btn-primary"
        |
        = link_to "Back", "#", "data-dismiss" => "modal"
#upvoteModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Log in to upvote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "upvote-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path(back_url: request.original_url), class: "btn btn-primary"
        |
        = link_to "Back", "#", "data-dismiss" => "modal"
- if session[:added_voter]
  #tweetModal.modal.fade{role: "dialog"}
    .modal-dialog
      .modal-content
        .modal-header.text-center
          %h3= "Wanna tweet you added @#{@just_added_voter.twitter}?"
        .modal-body.text-center
          You'll be able to change the tweet and confirm or cancel in the next window

          %br
          %br
          = link_to "Yes, share on Twitter", "https://twitter.com/intent/tweet?url=&text=@#{@just_added_voter.try(:twitter)} I added you to the list of who does and who does not support '#{@statement.shortened_content(35)}' #{@shortened_url_without_params}", class: "btn btn-primary", id: "tweet-supporter-added-2", "data-dismiss" => "modal"
          or
          = link_to "Back", "#", "data-dismiss" => "modal"
= link_to "Tweet supporter added", "#", "data-toggle" => "modal", "data-target" => "#tweetModal", statement_id: @statement.id, class: "vote hidden", id: "tweet-supporter-added"
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
- if session[:added_voter]
  - session.delete(:added_voter)
  :javascript
    $("#tweet-supporter-added").click();
