.container
  %h1= @statement.content
  .textcenter
    #add
      .jumbotron
        %h3 Gather who agree
        = render partial: "add_supporter"

  .row
    .col-md-6
      .add_me
        = render partial: "add_me", locals: { agree: true }
      = render partial: "whoagree", locals: { agreements: @agreements_in_favor }
    .col-md-6
      .add_me
        = render partial: "add_me", locals: { agree: false }
      = render partial: "whoagree", locals: { agreements: @agreements_against }
.container
  #comments
    %h3 Comments:
    = render template: "comments/index"
    = render template: "comments/new"
  - unless Rails.env == "test"
    %h3 Other statements
    .row
      .col-md-6
        - @related_statements[0..2].each do |related|
          = link_to related.content, related
          %br
      .col-md-6
        - @related_statements[3..5].each do |related|
          = link_to related.content, related
          %br
