.container
  = render partial: "header"
  = render partial: "filters"
  = render partial: "opinions"
  .text-center
    = paginate (@agreements_in_favor.size >= @agreements_against.size ? @agreements_in_favor : @agreements_against)
  = render partial: "common/pies" if @occupations_count.size > 2 && @schools_count.size > 2

.container
  #comments
    - if @comments.size > 0 && @statement.id != 7 # brexit
      %h3 Comments:
      = render template: "comments/index"
      -#= render template: "comments/new"
  = render partial: "common/subscribe", locals: { statement_id: @statement.id } unless current_user
  = render partial: "related_statements"
= render partial: "modal_windows"
