.container
  %h1= @statement.content
  .row
    .col-md-6
      = render partial: "add_me", locals: { agree: true }
      %br
      %br
      = render partial: "whoagree", locals: { agreements: @agreements_in_favor }
    .col-md-6
      = render partial: "add_me", locals: { agree: false }
      %br
      %br
      = render partial: "whoagree", locals: { agreements: @agreements_against }
.container
  .textcenter
    #add
      %br
      %h3 Do you know someone else who agree/disagree? Add them now:
      .jumbotron
        = render partial: "add_supporter"
  #comments
    %h3 Comments:
    = render template: "comments/index"
    = render template: "comments/new"
  - unless Rails.env == "test"
    %h3 Other statements
    .row
      .col-md-6
        - @related_statements[0..2].each do |related|
          = link_to related.content, related
          %br
      .col-md-6
        - @related_statements[3..5].each do |related|
          = link_to related.content, related
          %br
