.container
  = render partial: "header"
  = render partial: "filters"
  = render partial: "opinions"
.text-center
  = paginate (@agreements_in_favor.size >= @agreements_against.size ? @agreements_in_favor : @agreements_against)
.container
  #comments
    - if @comments.size > 0 && @statement.id != 7 # brexit
      %h3 Comments:
      = render template: "comments/index"
      -#= render template: "comments/new"
  = render partial: "related_statements"
= render partial: "modal_windows"
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
