.container
  %h1= @statement.content
  .textcenter
    .jumbotron
      %h3 Gather who agree
      = render partial: "add_supporter"
  %br
  .row
    .add_me.col-md-6
      %h4= "Who agree (#{@agreements_in_favor.size}):"
    .add_me.col-md-6
      %h4= "Who disagree (#{@agreements_against.size}):"
  - [@agreements_in_favor, @agreements_against].map(&:size).max.times do |index|
    .row
      .col-md-6
        = render partial: "whoagree", locals: { agreement: @agreements_in_favor[index] } if @agreements_in_favor[index]
      .col-md-6
        = render partial: "whoagree", locals: { agreement: @agreements_against[index] } if @agreements_against[index]
.container
  #comments
    -# %h3 Comments:
    =# render template: "comments/index"
    =# render template: "comments/new"
  - unless Rails.env == "test" || @related_statements.size < 6 || @related_statements.first.tag_list == ["Others"]
    %h3 Other questions
    .row
      .col-md-6
        - @related_statements[0..2].each do |related|
          = link_to related.content, related
          %br
      .col-md-6
        - @related_statements[3..5].each do |related|
          = link_to related.content, related
          %br
