.container
  %p#notice= notice
  %h1= @statement.content
  - if @agreements_in_favor.any? || @agreements_against.any?
    #wrapper
      #leftcol
        = "#{@agreements_in_favor.size} seem to agree:"
        = render partial: "whoagree", locals: { agreements: @agreements_in_favor }
      #rightcol
        = "#{@agreements_against.size} seem to disagree:"
        = render partial: "whoagree", locals: { agreements: @agreements_against }
- if signed_in?
  #add
    Add someone else:
    = render partial: "add_supporter"
