<p id="notice"><%= notice %></p>

<h1><%= @statement.content %></h1>

<% if @agreements.any? %>
  <h3><%= @statement.individuals.count %> seem to agree:</h3>
  <%= render "statements/whoagree" %>
<% end %>
New supporter:
<%= render "statements/add_supporter" %>





<br />
<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>

