.container
  %h1= @statement.content
  #wrapper
    #leftcol
      = render partial: "add_me", locals: { agree: true }
      = render partial: "whoagree", locals: { agreements: @agreements_in_favor }
    #rightcol
      = render partial: "add_me", locals: { agree: false }
      = render partial: "whoagree", locals: { agreements: @agreements_against }
.container
  .textcenter
    #add
      %br
      .jumbotron
        = render partial: "add_supporter"
  %h3 Other statements
  .row
    .col-xs-6
      - @related_statements[0..2].each do |related|
        = link_to related.content, related
        %br
    .col-xs-6
      - @related_statements[3..5].each do |related|
        = link_to related.content, related
        %br
