.container
  .text-center
    %h1
      = @statement.content
      = link_to "", "https://twitter.com/share", "class" => "twitter-share-button", "data-url" => "#{root_url}s/#{@statement.hashed_id}", "data-text" => "#{@statement.content} See who agrees on #AgreeList", "data-size" => "large", "data-count" => "none", id: "twitter-share"
    %br
    - if current_user
      - if (@agreements_in_favor + @agreements_against).map(&:individual_id).include?(current_user.id)
        - already_voted = true
      - else
        = link_to "Agree", vote_path(statement_id: @statement.id, vote: "agree", back_url: "#{statement_path(@statement)}?order=date"), method: :post, class: "btn-statement btn-lg vote_link"
        = link_to "Disagree", vote_path(statement_id: @statement.id, vote: "disagree", back_url: "#{statement_path(@statement)}?order=date"), method: :post, class: "btn-statement btn-lg vote_link"
        - already_voted = false
    - else
      = link_to "Agree", "#", "data-toggle" => "modal", "data-target" => "#myModal", vote: "agree", statement_id: @statement.id, class: "btn-statement btn-lg vote", back_url: "#{statement_path(@statement)}?order=date"
      = link_to "Disagree", "#", "data-toggle" => "modal", "data-target" => "#myModal", vote: "disagree", statement_id: @statement.id, class: "btn-statement btn-lg vote", back_url: "#{statement_path(@statement)}?order=date"
    - unless already_voted
      %br
      %br
    - if @statement == main_statement
      = link_to "Back", brexit_board_path
      |
    = link_to "Add an opinion", "#gather", class: (already_voted ? "btn btn-primary" : "")
  %br
  - if params[:c]
    >
    = link_to "All", statement_path(@statement)
    >
    = params[:c]
  %br
  - if [@agreements_in_favor.size, @agreements_against.size].max > 3
    Ordered by
    - if params[:order] == "date"
      Date
      |
      = link_to "Votes", statement_path(@statement, order: nil)
    - else
      = link_to "Date", statement_path(@statement, order: "date")
      |
      Votes
  .row
    .col-sm-6
      .add_me
        %h4= "Who agrees (#{pluralize(@agreements_in_favor.size, 'vote')}):"
      = render partial: "whoagree", locals: { agreements: @agreements_in_favor }
    .col-sm-6
      .add_me
        %h4= "Who disagrees (#{pluralize(@agreements_against.size, 'vote')}):"
      = render partial: "whoagree", locals: { agreements: @agreements_against }
.container
  #comments
    - if @comments.size > 0 && @statement.id != 7 # brexit
      %h3 Comments:
      = render template: "comments/index"
      -#= render template: "comments/new"
  - unless Rails.env == "test" || @related_statements.size < 6 || @related_statements.first.tag_list == ["Others"]
    %h3 Other questions
    .row
      .col-sm-6
        - @related_statements[0..2].each do |related|
          = link_to related.content, related
          %br
      .col-sm-6
        - @related_statements[3..5].each do |related|
          = link_to related.content, related
          %br
  #gather.jumbotron.textcenter
    = render partial: "add_supporter"
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login with Twitter to vote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "vote-twitter-login"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
