#homepage
  .container-fluid
    .row-fluid
      .centering.text-center
        - if signed_in? && @agreement
          %h3= "Why do you #{@agreement.extent == 100 ? 'agree' : 'disagree'} that the UK should remain in the EU?"
          = form_for @agreement do
            .form-group
              .col-sm-4
              .col-sm-4
                = text_field :agreement, :reason, class: "form-control", placeholder: "Reason"
                %br
                = submit_tag "See results", class: "btn-home btn-lg"
        - else
          %h3 Our first statement:
          %h1 The UK should remain in the EU
          #agree_disagree_buttons
            - if current_user
              = link_to "Agree", vote_path(statement_id: @statement.id, vote: "agree", back_url: root_path), method: :post, class: "btn-home btn-lg vote_link"
              = link_to "Disagree", vote_path(statement_id: @statement.id, vote: "disagree", back_url: root_path), method: :post, class: "btn-home btn-lg vote_link"
            - else
              = link_to "Agree", "#", "data-toggle" => "modal", "data-target" => "#myModal", vote: "agree", statement_id: @statement.id, class: "btn-home btn-lg vote", back_url: root_path
              = link_to "Disagree", "#", "data-toggle" => "modal", "data-target" => "#myModal", vote: "disagree", statement_id: @statement.id, class: "btn-home btn-lg vote", back_url: root_path
          %br
          or
          %br
          = link_to "Discover new opinions", "/new", class: "white-link"
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login with Twitter to vote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "vote-twitter-login"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"

