.container
  #new-statement.row.col-md-12
    = form_tag("/s/create_and_agree", class: "form-horizontal") do |f|
      #new-statement-content
        = text_field_tag :content, "", class: "form-control", placeholder: "Create a question you agree with to hear what others think"
      #new-statement-button
        - if current_user
          = submit_tag "Create", class: "btn btn-primary", id: "create-question"
        - else
          = link_to "Create", "#", class: "button btn btn-primary", id: "create-question", "data-toggle" => "modal", "data-target" => "#loginToCreate"
  %h3 Discover new opinions
  - @agreements.each do |agreement|
    - individual = agreement.individual
    .row.col-md-12
      .media
        .media-left
          = image_tag(individual.picture.url(:thumb), class: "picture media-object")
        .media-body
          %h4.media-heading
            %span.name= link_to(individual.name || individual.twitter, "/#{individual.to_param}")
          %span.source
            = individual.bio.present? ? individual.bio : individual.description
          %span
            - if admin?
              = link_to "edit", edit_individual_path(individual) + "?back_url=#{request.url}"
              |
              = link_to("delete", agreement, method: :delete, data: { confirm: "You sure?" })
          %br
          = agreement.extent == 100 ? "Agrees:" : "Disagrees:"
          = link_to agreement.statement.content, statement_path(agreement.statement)

          - if current_user
            = link_to(image_tag("agree.png", class: "vote-icon"), vote_path(statement_id: agreement.statement_id, vote: 'agree'), method: :post, class: "vote_link")
            = link_to(image_tag("disagree.png", class: "vote-icon"), vote_path(statement_id: agreement.statement_id, vote: 'disagree'), method: :post, class: "vote_link")
          - else
            = link_to(image_tag("agree.png", class: "vote-icon"), "#", "data-toggle" => "modal", "data-target" => "#myModal")
            = link_to(image_tag("disagree.png", class: "vote-icon"), vote_path(statement_id: agreement.statement_id, vote: 'disagree'), method: :post, class: "vote_link")
          %br
          - if agreement.reason.present?
            Reason:
            = agreement.reason
            %span.source= link_to "source", agreement.url
            -# = link_to(image_tag("agree.png", class: "vote-icon"), "#", onclick: 'alert("This feature is not ready yet!")')
            -# = link_to(image_tag("disagree.png", class: "vote-icon"), "#", onclick: 'alert("This feature is not ready yet!")')
          %br
    #br
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login with Twitter to vote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"
#loginToCreate.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login with Twitter to post
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"

:javascript
  var logged_in = #{signed_in?};
