.container
  .text-center
    = link_to "Create a topic or statement", new_statement_path, class: "btn btn-primary btn-lg"
  %h3
    Discover new opinions
    %span{class: "small"}
      |
      - if params[:all].present?
        = link_to "Back", new_path
      - else
        = link_to "Show all", new_path(all: 1)
  .text-center
    .row
      .col-md-4
        %h4= link_to("BREXIT", "/brexit")
        %p= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/brexit.png", class: "home-img"), "/brexit")
      .col-md-4
        %h4= link_to("Assault weapons", statement_path("bawuigugn8sz"))
        %p= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/assault-weapon.jpg", class: "home-img"), statement_path("bawuigugn8sz"))
      .col-md-4
        %h4= link_to("Net neutrality", statement_path("3xznohtiknyb"))
        %p= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/net-neutrality.png", class: "home-img"), statement_path("3xznohtiknyb"))
  - @agreements.each do |agreement|
    - individual = agreement.individual
    .row.col-md-12
      .media
        .media-left
          = image_tag(individual.picture.url(:mini), class: "picture media-object")
        .media-body
          %h4.media-heading
            - text = "#{individual.name || individual.twitter || 'user-' + individual.hashed_id} #{agreement.extent == 100 ? "agrees" : "disagrees"}: #{agreement.statement.content}"
            %span.name= link_to(text, statement_path(agreement.statement))
          %span.reason
            = agreement.reason
          %span
            - if admin?
              = link_to "edit", edit_individual_path(individual) + "?back_url=#{request.url}"
              |
              = link_to("delete", agreement_path(agreement, back_url: request.original_url), method: :delete, data: { confirm: "You sure?" })
              |
              = link_to("thouch", touch_path(agreement, back_url: "/new"), method: :post)
          %br
          - if current_user
            = link_to("agree", vote_path(statement_id: agreement.statement_id, vote: 'agree', back_url: new_path), method: :post, class: "vote_link")
            ·
            = link_to("disagree", vote_path(statement_id: agreement.statement_id, vote: 'disagree', back_url: new_path), method: :post, class: "vote_link")
          - else
            = link_to(image_tag("agree.png", class: "vote-icon"), "#", "data-toggle" => "modal", "data-target" => "#myModal", vote: "agree", statement_id: agreement.statement_id, class: "vote", back_url: new_path)
            = link_to(image_tag("disagree.png", class: "vote-icon"), "#", "data-toggle" => "modal", "data-target" => "#myModal", vote: "disagree", statement_id: agreement.statement_id, class: "vote", back_url: new_path)
          - if agreement.agreement_comments.size > 0
            ·
            = link_to pluralize(agreement.agreement_comments.size, "comment"), agreement_path(agreement)
  %br
  .text-center
    = paginate @agreements
    - unless params[:all]
      ·
      = link_to "Show all (instead of one per topic)", new_path(all: 1)
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Log in to vote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "vote-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path(back_url: request.original_url), class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"
#loginToCreate.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login in to post
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "create-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path(back_url: request.original_url), class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"

:javascript
  var logged_in = #{signed_in?};
