.container
  .text-center
    = link_to "Create a topic or statement", new_statement_path, class: "btn btn-primary btn-lg"
  %h3
    Discover new opinions
    %span{class: "small"}
      |
      - if params[:all].present?
        = link_to "Back", new_path
      - else
        = link_to "Show all", new_path(all: 1)
  .text-center
    .row
      .col-md-4
        %h4= link_to("Brexit", "/brexit")
        %p= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/brexit.png", class: "home-img"), "/brexit")
      .col-md-4
        %h4= link_to("Universal Basic Income", statement_path("kbupbtnz4sek"))
        %p= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/cash.png", class: "home-img"), statement_path("kbupbtnz4sek"))
      .col-md-4
        %h4= link_to("Clinton over Trump", statement_path("ped4besqdzdd"))
        %p= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/Clinton+vs+Trump.png", class: "home-img"), statement_path("ped4besqdzdd"))
  - @agreements.each do |agreement|
    - individual = agreement.individual
    .row.col-md-12
      .media
        .media-left
          = image_tag(individual.picture.url(:mini), class: "picture media-object")
        .media-body
          %h4.media-heading
            - text = "#{individual.name || individual.twitter || 'user-' + individual.hashed_id} #{agreement.extent == 100 ? "agrees" : "disagrees"}: #{agreement.statement.content}"
            %span.name= link_to(text, statement_path(agreement.statement))
          %span.reason
            = agreement.reason
          %span
            - if admin?
              = link_to "edit", edit_individual_path(individual) + "?back_url=#{request.url}"
              |
              = link_to("delete", agreement_path(agreement, back_url: request.original_url), method: :delete, data: { confirm: "You sure?" })
              |
              = link_to("thouch", touch_path(agreement, back_url: "/new"), method: :post)
          %br
          - if current_user
            = link_to("agree", vote_path(statement_id: agreement.statement_id, vote: 'agree', back_url: new_path), method: :post, class: "vote_link")
            ·
            = link_to("disagree", vote_path(statement_id: agreement.statement_id, vote: 'disagree', back_url: new_path), method: :post, class: "vote_link")
          - else
            = link_to(image_tag("agree.png", class: "vote-icon"), "#", "data-toggle" => "modal", "data-target" => "#myModal", vote: "agree", statement_id: agreement.statement_id, class: "vote", back_url: new_path)
            = link_to(image_tag("disagree.png", class: "vote-icon"), "#", "data-toggle" => "modal", "data-target" => "#myModal", vote: "disagree", statement_id: agreement.statement_id, class: "vote", back_url: new_path)
          - if agreement.agreement_comments.size > 0
            ·
            = link_to pluralize(agreement.agreement_comments.size, "comment"), agreement_path(agreement)
  %br
  .text-center
    = paginate @agreements
    - unless params[:all]
      ·
      = link_to "Show all (instead of one per topic)", new_path(all: 1)
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Log in to vote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "vote-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path(back_url: request.original_url), class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"
#loginToCreate.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login in to post
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "create-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path(back_url: request.original_url), class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"

#home.container
  .text-center
    .jumbotron
      %h1 AgreeList
      %h2 Fixing <i>the biggest problem in the world</i>
      %h5
        <i>It's not <strike>global warming</strike>, not <strike>war</strike>, but how we can organise among ourselves to make good decisions and carry them out
        </i> - MIT Professor Alex Pentland
      - @influencers.each do |influencer|
        = link_to(image_tag(influencer.picture.url(:thumb), class: "picture"), individual_path(influencer))
      %h5 Our mission: Increase the quality of decision making
      - if current_user
        = link_to "Create a topic or statement", new_statement_path, class: "btn btn-primary btn-lg"
      - else
        %h2= link_to "Join", signup_path, class: "btn btn-primary btn-lg"
    .row
      .col-md-4
        %h4 Promote a debate that matters to you
        Add influencer's opinions. You only need a source supporting the influencer’s agreement
        #home-cause= image_tag "https://s3-eu-west-1.amazonaws.com/agreelist/cause.jpg"
      .col-md-4
        %h4 Find who agrees/disagrees & why
        Bombarded with opinions? Inform yourself by finding who agrees and why on something to make up your mind
        %p= image_tag "https://s3-eu-west-1.amazonaws.com/agreelist/agree-disagree.jpg"
      .col-md-4
        %h4 Understand what underpins debates
        E.g.
        = link_to("#{@brexit_statement.agreements.size} opinions on Brexit", "/brexit")
        filtered per
        = link_to("profession", "/s/brexit-sblrlc9vgxp7/occupations")
        and
        = link_to("university", "/s/brexit-sblrlc9vgxp7/educated_at")
        #home-brexit= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/brexit.png"), "/brexit")
    %h3 Findings
    .row
      .col-md-2
      .col-md-4
        %p= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/occupations-pro-brexit.png"), "/s/brexit-sblrlc9vgxp7/occupations")
      .col-md-4
        %p= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/clinton_over_trump.png"), "/s/hillary-clinton-should-be-president-instead-of-donald-trump-ped4besqdzdd/educated_at")
    - if current_user
      = link_to "Create a topic or statement", new_statement_path, class: "btn btn-primary btn-lg"
    - else
      %h2= link_to "Join", signup_path, class: "btn btn-primary btn-lg"

    %h2 Similarities with other projects
    .row
      .col-md-4
        %h4 Petitions
        Petitions are useful to show support, but on AgreeList you find diversity of opinions.
        %p= image_tag "https://s3-eu-west-1.amazonaws.com/agreelist/petitions.jpg"
      .col-md-4
        %h4 Polls
        Polls are anonymous and easily biased. On AgreeList you can understand the people you trust.
        %p= image_tag "https://s3-eu-west-1.amazonaws.com/agreelist/polls.png", id: "home-polls-img"
      .col-md-4
        %h4 Wikipedia
        Wikipedia focuses on facts. We track opinions and favour constructive debates.
        %p= image_tag "https://s3-eu-west-1.amazonaws.com/agreelist/wikipedia.jpeg", id: "home-wikipedia-img"
:javascript
  var logged_in = #{signed_in?};
