#home.container
  .text-center
    .row
      .col-md-4
        %h4 Promote a debate that matters to you
        Add influencers' opinions. You only need a source supporting the influencer’s agreement
        #home-cause= image_tag "https://s3-eu-west-1.amazonaws.com/agreelist/cause.jpg"
      .col-md-4
        %h4 Find who agrees/disagrees & why
        Bombarded with opinions? Inform yourself by finding who agrees and why on something to make up your mind
        %p= image_tag "https://s3-eu-west-1.amazonaws.com/agreelist/agree-disagree.jpg"
      .col-md-4
        %h4 Understand what underpins debates
        Wikidata - Wikipedia's structured database - allows us to filter per profession, university, country, etc.
        #home-brexit= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/wikipedia.jpeg"), "/brexit")

    = render partial: "back_line", locals: { text: "Example of topics" }
    .row
      .col-md-4
        %p Carbon Tax
        %p GMOs
      .col-md-4
        %p Universal Basic Income
        %p Artificial Intelligence
      .col-md-4
        %p Brexit
        %p Everyone should learn to code
  = render partial: "back_line", locals: { text: "One topic: Universal Basic Income" }
  -# REPLACE INSTANCE VARIABLES WITH local variables passed to the partial and set in the controller
  - @agreements_in_favor = Agreement.find([8530, 8126, 8223])
  - @agreements_against = Agreement.find([8440, 8251, 8133])
  = render partial: "statements/opinions"
  %p See all opinions on Basic Income

  = render partial: "back_line", locals: { text: "Example of profile: Bill Gates" }
  -# REPLACE INSTANCE VARIABLES WITH local variables passed to the partial and set in the controller
  - @individual = Individual.find_by_name("Bill Gates")
  - @agreements = @individual.agreements
  = render partial: "individuals/profile", locals: {}
.container
  #home-header.text-center
    = link_to "new topic or opinion", new_statement_path
    ·
    = link_to "search", new_search_path
  - @agreements.each do |agreement|
    - individual = agreement.individual
    .home-page-agreement-container
      .home-page-agreement
        .media
          .media-left
            = image_tag(individual.picture.url(:mini), class: "picture media-object")
          .media-body
            %h4.media-heading
              %span.name= link_to(agreement.statement.content, statement_path(agreement.statement))
              %span.small
                - if agreement.agree?
                  %span.green agreed
                - else
                  %span.red disagreed
                by
              = link_to(individual.name || individual.twitter || 'user-' + individual.hashed_id, individual_path(individual))
              %span.small>= ", #{individual.bio}"
            %span.reason
              = agreement.reason
            %span
              - if admin?
                = link_to "edit", edit_reason_path(agreement)
                |
                = link_to("delete", agreement_path(agreement), method: :delete, data: { confirm: "You sure?" })
                |
                = link_to("promote", touch_path(agreement), method: :post)
  %br
  .text-center
    = paginate @agreements
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Log in to vote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "vote-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path, class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"
#loginToCreate.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login in to post
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "create-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path, class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"

.container.text-center
  - if current_user
    = link_to "Create a topic or statement", new_statement_path, class: "btn btn-primary btn-lg"
  - else
    %h2= link_to "Join", signup_path, class: "btn btn-primary btn-lg"
:javascript
  var logged_in = #{signed_in?};
