.container
  #home-header.text-center
    = link_to "new topic or opinion", new_statement_path
    ·
    = link_to "search", new_search_path
  = render partial: "common/opinions", locals: { agreements: @agreements }
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Log in to vote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "vote-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path, class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"
#loginToCreate.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login in to post
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "create-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path, class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"
:javascript
  var logged_in = #{signed_in?};
