.container
  #home-header.text-center
    = link_to "new topic or opinion", new_statement_path
    ·
    = link_to "search", new_search_path
  - @agreements[0..2].each do |agreement|
    - individual = agreement.individual
    .home-page-agreement-container
      .home-page-agreement
        .media
          .media-left
            = image_tag(individual.picture.url(:mini), class: "picture media-object")
          .media-body
            %h4.media-heading
              %span.name= link_to(agreement.statement.content, statement_path(agreement.statement))
              %span.small
                - if agreement.agree?
                  %span.green agreed
                - else
                  %span.red disagreed
                by
              = link_to(individual.name || individual.twitter || 'user-' + individual.hashed_id, individual_path(individual))
              %span.small>= ", #{individual.bio}"
            %span.reason
              = agreement.reason
            %span
              - if admin?
                = link_to "edit", edit_reason_path(agreement)
                |
                = link_to("delete", agreement_path(agreement), method: :delete, data: { confirm: "You sure?" })
                |
                = link_to("promote", touch_path(agreement), method: :post)
  = render partial: "back_line", locals: { text: "Some topics" }
  .row.text-center
    .col-md-4
      %p Artificial Intelligence
      %p GMOs
    .col-md-4
      %p Universal Basic Income
      %p Job Guarantee
    .col-md-4
      %p Carbon Tax
      %p Brexit
  = render partial: "back_line", locals: { text: "" }
  - @agreements[3..-1].each do |agreement|
    - individual = agreement.individual
    .home-page-agreement-container
      .home-page-agreement
        .media
          .media-left
            = image_tag(individual.picture.url(:mini), class: "picture media-object")
          .media-body
            %h4.media-heading
              %span.name= link_to(agreement.statement.content, statement_path(agreement.statement))
              %span.small
                - if agreement.agree?
                  %span.green agreed
                - else
                  %span.red disagreed
                by
              = link_to(individual.name || individual.twitter || 'user-' + individual.hashed_id, individual_path(individual))
              %span.small>= ", #{individual.bio}"
            %span.reason
              = agreement.reason
            %span
              - if admin?
                = link_to "edit", edit_reason_path(agreement)
                |
                = link_to("delete", agreement_path(agreement), method: :delete, data: { confirm: "You sure?" })
                |
                = link_to("promote", touch_path(agreement), method: :post)
  %br
  .text-center
    = paginate @agreements

#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Log in to vote
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "vote-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path, class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"
#loginToCreate.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Login in to post
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter", id: "create-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path, class: "btn btn-primary"
        or
        = link_to "Back", "#", "data-dismiss" => "modal"

.container.text-center
  - if current_user
    = link_to "Create a topic or statement", new_statement_path, class: "btn btn-primary btn-lg"
  - else
    %h2= link_to "Join", signup_path, class: "btn btn-primary btn-lg"
:javascript
  var logged_in = #{signed_in?};
