.container
  - cache "brexit_board" do
    .text-center
      %h1 Brexit - Do you agree?
      %p
        = render partial: "occupations"
        |
        = link_to "All", statement_path(@statement)
      = link_to "Add an opinion leader", "#gather", class: "btn btn-primary"
      %p= render partial: "agreements/voting_buttons", locals: { back_url: brexit_board_path }
    .row
      .col-sm-6
        %h3
          = "Yes, I agree -"
          = link_to "#{@percentage_in_favor}%", statement_path(@statement)
        - @categories_in_favor.each do |category|
          = render partial: "category", locals: {category: category, count: category.agreements.size, agreement: category.top_agreement}
      .col-sm-6
        %h3
          = "No, I disagree -"
          = link_to "#{100 - @percentage_in_favor}%", statement_path(@statement)

        - @categories_against.each do |category|
          = render partial: "category", locals: {category: category, count: category.agreements.size, agreement: category.top_disagreement}
  #gather.jumbotron.textcenter
    = render partial: "statements/add_supporter"
#myModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %h3 Log in to give your opinion
      .modal-body.text-center
        = link_to image_tag("twitter-login.png"), "/auth/twitter?back_url=/brexit", id: "vote-twitter-login"
        %h3 No Twitter?
        = link_to "Log in with your email", login_path(back_url: request.original_url), class: "btn btn-primary"
        |
        = link_to "Back", "#", "data-dismiss" => "modal"
