.container
  %h1 AgreeBoard
  .row
    .col-md-6
      - @categories_in_favor.each do |category|
        - count = category.agreements.size
        %h3= link_to "#{category.name} - #{count} #{'Vote'.pluralize(count)}", statement_path(@statement, c: category.name)
        %br
    .col-md-6
      - @categories_against.each do |category|
        - count = category.agreements.size
        %h3= link_to "#{category.name} - #{count} #{'Vote'.pluralize(count)}", statement_path(@statement, c: category.name)
        %br
