.container
  - if params[:q]
    = "Search: #{params[:q]}"
    = "-"
    = link_to "Back", search_path
    %h3= pluralize(@individuals.size, "person") + " found"
    %ul
      - @individuals.each do |individual|
        %li= link_to(individual.visible_name, individual_path(individual))
    %h3= pluralize(@statements.size, "topic") + " and " + "statement".pluralize(@statements.size) + " found"
    %ul
      - @statements.each do |statement|
        %li
          = link_to(statement.content, statement_path(statement))
          = "(" + pluralize(statement.opinions_count, "opinion") + ")"
    %h3= pluralize(@agreements.size, "opinion") + " found"
    %ul
      - @agreements.each do |agreement|
        %li= link_to(agreement.reason, agreement_path(agreement))
  - else
    .text-center
      %p Search people, topics, opinions, etc.
      .form-inline
        = form_tag search_path do
          = text_field_tag :search, "", class: "form-control", placeholder: "e.g. Basic Income"
          = submit_tag "Search", class: "btn btn-primary"
