.text-center
  .row
    .col-sm-2
    .col-sm-4
      = form_for @new_user do |f|
        .form-inline
          %p Receive new opinions by email:
          = f.text_field :email, placeholder: "your@email.com", class: "text-center form-control"
          = hidden_field_tag :subscribed, true
          - if statement_id
            = hidden_field_tag :task, "follow"
            = hidden_field_tag :statement_id, statement_id
          = f.submit "Subscribe", class: "btn btn-primary"
    .col-sm-4
      .sign_in
        %p= link_to "Sign in with email", signup_path
        = link_to image_tag("https://s3-eu-west-1.amazonaws.com/agreelist/sign-in-with-twitter-gray.png"), "/auth/twitter", id: "twitter-login"
